div(class="Card")
	h2(class="Card-name") Iron Man
	img(src="./public/images/ironman.jpg", class="Card-image", alt="ironman")
	div(class="Card-description") El reconocido Tony Stark.
	div(class="Card-attack") Ataque: 800 puntos